<div id="faq" class="row">
  <div class="col-12">
    <h2 class="center m-bottom">FAQ</h2>
  </div>
</div>

<div class="row">
  <div class="col-6">
    <b>Why did you create this?</b>
    <p>
      I needed a simple and programmable way to retrieve the app information of
      specific Steam Apps. During early testing I noticed that retrieving app
      information via the <a href="https://developer.valvesoftware.com/wiki/SteamCMD">steamcmd</a>
      cli tool seemed to be the most reliable way.
    </p>
  </div>
  <div class="col-6">
    <b>Why not use steamdb.info?</b>
    <p>
      Even though <a href="https://steamdb.info">steamdb.info</a> is a great tool
      and <a href="https://xpaw.me/">xPaw</a> and <a href="https://twitter.com/marlamin">Marlamin</a>
      did an amazing job, it does not contain a public API which you can use to retrieve Steam data.
    </p>
  </div>
</div>

<div class="row">
  <div class="col-6">
    <b>Is the code behind the API open source and available?</b>
    <p>
      Yes, the code of the different components is open source and can be found
      on <a href="https://github.com/steamcmd">Github</a>. Please create an
      issue or a PR when you encounter a bug or have a feature request.
    </p>
  </div>
  <div class="col-6">
    <b>Can you please add feature <i>xxx</i>?</b>
    <p>
      If you are missing a specific feature or have found a bug, let it know by
      creating an issue on <a href="https://github.com/steamcmd/api">Github</a>
      or send a message/tweet on <a href="https://twitter.com/messages/compose?recipient_id=1132284269345333248">Twitter</a>.
    </p>
  </div>
</div>
