<div id="faq" class="row">
  <div class="col-12">
    <h2 class="center m-bottom">FAQ</h2>
  </div>
</div>

<div class="row">
  <div class="col-6">
    <b>Why did you create this?</b>
    <p>
      I needed a simple and programmable way to retrieve the app information of
      specific Steam Apps. During early testing I noticed that retrieving app
      information via the <a href="https://developer.valvesoftware.com/wiki/SteamCMD">steamcmd</a>
      cli tool seemed to be the most reliable way.
    </p>
  </div>
  <div class="col-6">
    <b>Why not use steamdb.info?</b>
    <p>
      Even though <a href="https://steamdb.info">steamdb.info</a> is a great tool
      and <a href="https://xpaw.me/">xPaw</a> and <a href="https://twitter.com/marlamin">Marlamin</a>
      did an amazing job, it does not contain a public API which you can use to retrieve Steam data.
    </p>
  </div>
</div>

<div class="row">
  <div class="col-6">
    <b>Is the code behind the API open source and available?</b>
    <p>
      Yes, the code of the different components is open source and can be found
      on <a href="https://github.com/steamcmd">Github</a>. Please create an
      issue or a PR when you encounter a bug or have a feature request.
    </p>
  </div>
  <div class="col-6">
    <b>Can you please add feature <i>xxx</i>?</b>
    <p>
      If you are missing a specific feature or have found a bug, let it know by
      creating an issue on <a href="https://github.com/steamcmd/api">Github</a>
      or send a message/tweet on <a href="https://twitter.com/messages/compose?recipient_id=1132284269345333248">Twitter</a>.
    </p>
  </div>
</div>

<div class="row">
  <div class="col-6">
    <b>How can I find the corresponding app id?</b>
    <p>
      The easiest way to lookup an app id manually is using the
      <a href="https://steamdb.info">steamdb.info</a> website.

      For getting the app id programmatically it's recommended to utilize the
      <i>GetAppList</i> endpoint on the Steam API:
      <a href="https://api.steampowered.com/ISteamApps/GetAppList/v1/">api.steampowered.com/ISteamApps/GetAppList/v1/</a>
    </p>
  </div>
  <div class="col-6">
    <b>How is the public API monitored?</b>
    <p>
      HTTP checks by <a href="https://uptimerobot.com">UptimeRobot</a> are used
      to test the health of the public API. The current and historical status is
      publicly available on the <a href="https://stats.uptimerobot.com/wrYlLT1R5">status page</a>.
      <br/><br/>
      UptimeRobot sponsors the project with a paid plan via their <a href="https://uptimerobot.com/sponsorship">non-profit sponsorship
      programme</a>.
    </p>
  </div>
</div>
