<footer>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <p>
          <b>SteamCMD API</b><br/>
          Made by <a href="https://www.jona.io" class="a-btn-alt">Jona Koudijs</a><br/>
          Find the code on <a href="https://github.com/steamcmd" class="a-btn-alt">Github</a><br/>
          Go have a chat on <a href="https://discord.steamcmd.net" class="a-btn-alt">Discord</a><br/>
          Check the health on <a href="https://status.steamcmd.net" class="a-btn-alt">UptimeRobot</a><br/>
          Look for the latest on <a href="https://fosstodon.org/@steamcmd" class="a-btn-alt">Mastodon</a>
        </p>
        <p>
          <i>This is a non-official API and this is not affiliated with Steam or Valve &#169;</i>
        </p>
      </div>
    </div>
  </div>
</footer>
