<div id="faq" class="row">
  <div class="col-12">
    <h2 class="center m-bottom">FAQ</h2>
  </div>
</div>

<div class="row">
  <div class="col-6">
    <b>Why did you create this?</b>
    <p>
      I needed a simple and programmable way to retrieve the app information of specific Steam Apps.
      During early testing I noticed that retrieving app information via the <a href="https://developer.valvesoftware.com/wiki/SteamCMD">steamcmd</a>
      cli tool seemed to be the most reliable way.
    </p>
  </div>
  <div class="col-6">
    <b>Why not use steamdb.info?</b>
    <p>
      Even though <a href="https://steamdb.info">steamdb.info</a> is a great tool and <a href="https://xpaw.me/">xPaw</a> and <a href="https://twitter.com/marlamin">Marlamin</a>
      did an amazing job, it does not contain a public API which you can use to retrieve Steam data.
    </p>
  </div>
</div>

<div class="row">
  <div class="col-6">
    <b>Will you open source the code behind the API?</b>
    <p>
      Definitely. Currently the code is a bit of a mess and needs some refactoring, but I have planned to open source
      everything in the near future. The repositories will be created at <a href="https://github.com/steamcmd">github.com/steamcmd</a>.
    </p>
  </div>
  <div class="col-6">
    <b>Can you please add feature <i>xxx</i>?</b>
    <p>
      If you are missing a specific feature or have found a bug, let me know via <a href="https://twitter.com/messages/compose?recipient_id=1132284269345333248">Twitter</a>.
      I love to help others and improve the service!
    </p>
  </div>
</div>
